*.py[cod]

# iPython notebook extensions
*.ipynb

# C extensions
*.so
*.o

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

# vim temp files
.*.swp

# DOT graph files
*.dot

# mac icon cache
.DS_Store

# coverage html report
htmlcov

# virtualenv subdirs
venv-*

# opentuner stuff
opentuner.db
opentuner.log
